@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../lib/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../lib/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../lib/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../lib/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
form a.btn
  margin-left 10px


footer
  padding-left 120px
  padding-right 120px
  p
    border-top 1px solid #c0c0c0
    padding-top 15px

.navbar-right .navbar-form
  input
    margin-right 10px;

.toast-top-right
  top 70px
.jumbotron iframe
  width 90%;
  margin  0 auto
  height  500px

iframe
    margin 0 auto;

.col-md-5 img{
  max-width 45%
}
